@import url(https://fonts.googleapis.com/css?family=Play:700,400);

* {
margin: 0;
padding: 0;
}

body {
  width: 100%;
  height: auto;
}

header {
  float: left;
  width: 1024px;
  height: 117px;
  background-color: black;
  border: 2px solid #FFFFFF;
}

header img {
  /*position: relative;*/
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.ustralver {
  position: absolute;
  left: 120px;
  top: 45px;
  color: white;
  width: 250px;
  font-size: 30px;
}

.links1  {
  width: 100px;
  float: right;
}

.links2  {
  width: 100px;
  float: right;
}

a {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  margin-top: 2px;
  font-family: 'Play:700', sans-serif;

}

.main img {
  width: 1024px;
  margin-bottom: 0px;
  padding: 0px;
}

.content {
  display: flex;
  margin: 0;
}

.article1, .article2, .article3, .article4 {
  width: 254px;
  height: 250px;
  background-color: black;
  border: 1px solid white;
}

.article1 a, .article2 a, .article3 a, .article4 a {
  width: 180px;
  display: block;
  color: white;
  font-size: 20px;
  margin: auto;
  padding: 0px;
  text-align: center;
  padding-top: 30px;
  text-decoration: none;
  font-family: 'Play:700', sans-serif;
}

footer {
  width: 1024px;
  height: 120px;
  background-color: black;
  border: 2px solid #FFFFFF;
}

footer img {
  max-height: 90px;
  margin: 10px;
}
