* {
margin: 0;
padding: 0;
}

body {
  width: 100%;
  height: auto;
}

header {
  /*position: absolute;*/
  width: 1024px;
  height: 117px;
  background-color: black;
  border: 2px solid #FFFFFF;
}

header img {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.ustralver {
  position: absolute;
  left: 120px;
  top: 45px;
  color: white;
  width: 250px;
  font-size: 30px;
}

nav ul li {
  /*border: 1px solid red;*/
  width: 100px;
  display: block;
  color: white;
  margin-top: 6px;
  line-height: 20px;
  margin-left: 900px;
}

.main img {
  width: 1024px;
  height: 100%;
}

.content {
  display: flex;
  margin: 0;
}

.article1, .article2, .article3, .article4 {
  width: 254px;
  height: 250px;
  background-color: black;
  border: 1px solid white;
}

.article1 a, .article2 a, .article3 a, .article4 a {
  width: 180px;
  display: block;
  color: white;
  font-size: 24px;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  text-decoration: none;
}

footer {
  width: 1024px;
  height: 120px;
  background-color: black;
  border: 2px solid #FFFFFF;
}

footer img {
  max-height: 90px;
  margin: 10px;
