* {
margin: 0;
padding: 0;
}

body {
  width: 100%;
  height: auto;
}

header {
  position: absolute;
  width: 100%;
  height: 117px;
  background-color: black;
  border: 2px solid #FFFFFF;
}

header img {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

nav ul li {
  /*border: 1px solid red;*/
  width: 100px;
  display: block;
  color: white;
  margin-top: 7px;
  line-height: 20px;
  margin-left: 900px;
}

.main img {
  width: 1024px;
  height: 100%;
}

.content {
  display: flex;
  margin: 0;


}
.article1, .article2, .article3, .article4 {
  width: 254px;
  height: 256px;
  background-color: black;
  border: 1px solid white;
}

.article1 a {
  width: 180px;
  border: 1px solid red;
  display: block;
  color: white;
  font-size: 30px;
  margin: auto;
  padding: auto;
  text-align: center;
}
