@import url(https://fonts.googleapis.com/css?family=Play:700,400);


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
}

body html {
  width: 100%;
  height: auto;
}

.container {
    width: 100%;
    height: auto;
}

header {
  float: left;
  width: 100%;
  height: 117px;
  background-color: black;
  // border: 2px solid #FFFFFF;
}

header img {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.ustralver {
  position: absolute;
  left: 120px;
  top: 45px;
  color: white;
  width: 250px;
  font-size: 30px;
}

.links1  {
  margin-top: 10px;
  width: 100px;
  float: right;
}

.links2  {
  margin-top: 10px;
  width: 100px;
  float: right;
}

a {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  margin-top: 3px;
  font-family: 'Play:700', sans-serif;

}

img {
  margin-top: 0px;
  padding-top: 0px;
}

.main img {
  width: 100%;
  margin-bottom: 0px;
  padding: 0px;
}

.content {
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.article1, .article2, .article3, .article4 {
  width: 25%;
  height: 250px;
  background-color: black;
  border: 1px solid white;
  padding: 0px;
  margin: 0px;
}

.article1 a, .article2 a, .article3 a, .article4 a {
  width: 90%;
  display: block;
  color: white;
  font-size: 24px;
  margin: auto;
  padding: 0px;
  text-align: center;
  padding-top: 30px;
  text-decoration: none;
  font-family: 'Play:700', sans-serif;
}

footer {
  width: 100%;
  height: 120px;
  background-color: black;
  border: 2px solid #FFFFFF;
}

footer img {
  max-height: 90px;
  margin: 10px;
}

article {
  padding: 0px;
  margin: 0px;
}
